body {
    background-color: #e8eef7;
    padding: 2em;
}

#quiz {
    padding: 1em;
    background-color: white;
    border: 1px solid #ccc;
}

.question {
    margin: 3em;
}

.question-string {
    font-weight: bold;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 75%;
    height: 9em;
}

input {
    width: 75%;
}

code.terminal {
    background-color: black;
    color: white;
    font-family: Courier, monospace;
    padding: 1em;
    margin: 1em;
    display: block;
}

.argument {
    font-family: Courier, monospace;
    font-weight: bold;
}

.website{
  font-style: italic;
  font-variant: small-caps;
  color:dodgerblue;
}
